### Editor ###
.vscode/
.ionide/
.history/
.idea/
.qt_for_python/
*.autosave

### Project ###
build/
dist/
*.user
Makefile*
.qmake.stash
*.exe
*.[ao]

### Qt related ###
moc_*.cpp
ui_*.h
*.qm
qt_*.ts
